﻿<div class="row">
    <div class="col-md-6 offset-3">
        <h3 class="text">The link you followed may be broken, or the page may have been removed. <a asp-controller="Movies" asp-action="Index"> Come back to Home Page</a> </h3>
        <!--hr / -->
    </div>
</div>