@model List<Order>

@{
    ViewData["Title"] = "All orders";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>
                List of all your orders
            </h4>
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <td>Items</td>
                    <th>Total</th>
                    <th>User</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var e in Model)
                {
                    <tr>
                        <td class="align-middle">@e.Id</td>

                        <td class="align-middle">
                            <ul style="list-style-type:none">
                                @foreach(var item in e.OrderItems)
                                {
                                    <li>
                                        <div class="alert alert-into" role="alert">
                                            <span class="badge bg-success">@item.Amout</span>
                                            [@item.Price.ToString("c")] - @item.Movie.Name
                                        </div>
                                    </li>
                                }
                            </ul>
                        </td>

                        <td class="align-middle">
                            @e.OrderItems.Select(m => m.Movie.Price * m.Amout).Sum().ToString("c")
                        </td>

                        <td class="align-middle"> - </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
